#logonav {
    width: 90px;
    height: auto;
}

#homepic {
    display: block;
    height: auto;
    width: 100%;
    padding: 0;
}

.homepicbg {
}

.nav-item {
    font-size: 20px;
}

.center-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-style: italic;
  }

#aboutme {
    color: white;
    font-size: 30px;
}
#about {
    text-align: center;
}
#tpp {
    text-align: center;
    font-style: italic;
}
#aboutisi {
    font-size: 20px;
    margin-left: 75px;
    margin-right: 75px;
}

.socialmedia {
    border-radius: 50%;
    width: 200px;
    height: auto;
}

#contactme {
    text-align: center;
    font-size: 50px;
    color: white;
}
