.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav ul::before, .site-nav ul::after { content: ""; display: table; }
.site-nav ul::after { clear: both; }
.site-nav ul { *zoom: 1; }

.site-nav ul li {
    list-style: none;
    float: left;
    margin-right: 5px;
}

.site-nav ul li a:link,
.site-nav ul li a:visited {
    display: block;
    padding: 10px 18px;
    border: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    text-decoration: none
}

.site-nav ul li a:hover {
    background-color: #ECECEC; 
}

.site-nav ul li.current-menu-item a:link,
.site-nav ul li.current-menu-item a:visited {
    background-color: #006ec3;
    color: white;

}
